<!DOCTYPE html>
<html ng-app="dv">
  <head>
    <meta charset="utf-8">
    <title>Shippable DV</title>
    <script type="text/javascript"
      src="static/js/app.cat.js" ></script>
    <link rel="stylesheet" href="static/css/app.cat.css" media="screen" title="no title" charset="utf-8">
    <!-- <script type="text/javascript" src='http://localhost:35729/livereload.js'></script> -->
  </head>
  <body ng-controller="mainController">
    <div id="canvasContainer">
			<canvas id="pixie"></canvas>
		</div>
    <script type="text/javascript" src='static/js/canvas.js'> </script>
    <div class="container">
      <div class="row">
        <div class="environment col-xs-12 col-sm-10 col-md-4 col-lg-3" ng-repeat="environment in environments | orderBy:'envName'">
          <h3>Environment: {{environment.envName}}</h3>
          <div ng-repeat="box in environment.boxes track by $index"
            class="animate-repeat">
            <div class="box"
              style="background-color:{{box.color}}">
              <span class="instanceId">{{box.instanceId}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
